* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(91.9deg, rgba(94, 124, 121, 1) 4.4%, rgba(64, 224, 208, 1) 89%);
    rgb(76, 197, 181));
    color: rgb(231, 228, 228);
    font-family: sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header,
form {
    color: rgb(245, 241, 241);
    margin-top: 2cm;
    display: flex;
    justify-content: center;
    align-content: center;


}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}

form button {
    color: rgb(40, 141, 207);
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background-color: rgb(5, 145, 145);
    color: white;
}

.todo-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 15cm;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: rgb(250, 250, 250);
    color: rgb(2, 2, 2);
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: rgb(248, 52, 52);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(37, 255, 37);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}